<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Edit Specimen</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Edit Specimen</h1>

    <form>
        <label for="specimenName">Specimen Name:</label>
        <input type="text" id="specimenName" name="specimenName"><br><br>

        <div id="attributesContainer">
            <label for="attributeName">Attribute Name:</label>
            <input type="text" id="attributeName" name="attributeName">
            <label for="attributeData">Attribute Data:</label>
            <input type="text" id="attributeData" name="attributeData"><br><br>
        </div>

        <button type="button" onclick="addAttribute()">Add Attribute</button><br><br>

        <button type="submit">Save</button>
    </form>
    <footer class="py-5 bg-dark">
        <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="static/scripts.js"></script>

    <script>
        function addAttribute() {
            var attributesContainer = document.getElementById("attributesContainer");

            var attributeNameText = document.createElement("text");
            attributeNameText.textContent = "Attribute Name: ";

            var attributeNameInput = document.createElement("input");
            attributeNameInput.type = "text";
            attributeNameInput.name = "attributeName";

            var attributeDataText = document.createElement("text");
            attributeDataText.textContent = "Attribute Data: ";

            var attributeDataInput = document.createElement("input");
            attributeDataInput.type = "text";
            attributeDataInput.name = "attributeData";
            attributesContainer.appendChild(attributeNameText);
            attributesContainer.appendChild(attributeNameInput);
            attributesContainer.appendChild(attributeDataText);
            attributesContainer.appendChild(attributeDataInput);
            attributesContainer.appendChild(document.createElement("br"));
        }
    </script>
</body>
</html>