<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Create Lab</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Create Lab</h1>
    
    <form>
        <label for="labName">Lab Name:</label>
        <input type="text" id="labName" name="labName"><br><br>
        
        <label for="inviteEmails">Invite People:</label>
        <input type="text" id="inviteEmails" name="inviteEmails"><br><br>
        
        <button type="submit">Create Lab</button>
    </form>
    <footer class="py-5 bg-dark">
        <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="static/scripts.js"></script>
</body>
</html>